<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.email_field :fname, placeholder: 'First Name',  autofocus: true %></div>
	<div class="space"></div>
  <div><%= f.email_field :lname, placeholder: 'Last Name' %></div>
	<div class="space"></div>
  <div><%= f.email_field :username, placeholder: 'Desired Username' %></div>
	<div class="space"></div>
  <div><%= f.email_field :email, placeholder: 'Email' %></div>
	<div class="space"></div>
  <div><%= f.password_field :password, placeholder: 'Password', autocomplete: "off" %></div>
	<div class="space"></div>
  <div><%= f.password_field :password_confirmation, placeholder: 'Password Again', 
  				autocomplete: "off" %></div>
	<div class="space"></div>
  <div><%= f.submit "Sign up" %></div>

<% end %>

<%= render "devise/shared/links" %>
