<h1> The feeling is <%= @emotion.name %>. </h1>
<div>
	<!-- render '/emotions/happy'  -->
	<% if @emotion.name == "happy" %>
		<% if @selected == 'video' %>
			<%= render '/emotions/video' %>
		<% else @selected == 'music' %>
			<%= render '/emotions/images' %>
		<% end %>
	<!-- render '/emotions/sad'  -->
	<% else @emotion.name == "sad" %>
		<% if @selected == 'video' %>
			<%= render '/emotions/video' %>
		<% else @selected == 'music' %>
			<%= render '/emotions/images' %>
		<% end %>
	<% end %>
</div> 
